<%= render partial: 'shared/menu' %>

<div class="Wrapper">
    <h1>Welcome <%= current_user.first_name %></h1>
    
    <p><%= @total_budget %></p>

    <%= render partial: 'shared/no_store' %>
    <div class="Table">
        <div class="Card">A</div>
        <div class="Card">A</div>
        <div class="Card">A</div>
        <div class="Card">A</div>
        <div class="Card">A</div>
    </div>
</div>

