<div id="Menu">
    <div class="nav_item">Stores</div>
    <div class="nav_item">Events</div>
    <div class="nav_item">Employees</div>
    <div class="nav_item">Sales</div>
    <%= button_to "Log Out", destroy_user_session_path, :method => :delete %>
</div>